html {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.App {
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}